.sidebar {
    height: 100vh;
    width: 45%;

    .options {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;

        .sort {
            height: 25px;
            width: 250px;
        }

        button {
            width: 150px;
            padding: 0.75rem;
            margin-left: auto;
            color: #4611a7;
            background: #fff;
            border: 2px solid #4611a7;
            letter-spacing: 0.5px;
            transition: all .3s cubic-bezier(0,0,.2,1);
            box-sizing: border-box;

            &:hover {
                color: #fff;
                background: #4611a7;
            }
        }
    }

    .places {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 1.5rem;
        height: calc(100vh - 67px);
        padding: 0 1rem 1rem;
        overflow-y: scroll;
        background: #fff;
        box-sizing: border-box;

        .place {
            background: #fff;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
            transition: all .3s cubic-bezier(0,0,.2,1);

            img {
                width: 100%;
                max-height: 200px;
            }

            .details {
                padding: 1rem 1.5rem;

                .name {
                    margin-bottom: 0.75rem;
                    font-size: 1.5rem;
                    color: #4611a7;
                }

                .review {
                    margin-bottom: 1rem;
                    display: flex;
                    align-items: baseline;

                    .stars {
                        margin-right: 5px;
                    }

                    .all-reviews, .add-review {
                        font-size: 0.9rem;
                        cursor: pointer;
                        transition: all 300ms ease;
                    }

                    .all-reviews {
                        margin: 0 10px;
                        opacity: 0.5;
                        text-decoration: underline;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .add-review {
                        color: #4611a7;
                        text-decoration: underline;
                        opacity: 0.7;
                        
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
    
                .info {
                    list-style: none;
    
                    li {
                        margin-bottom: 0.5rem;
    
                        i {
                            margin-right: 0.25rem;
                            opacity: 0.3;
                        }

                        a {
                            color: #000;
                            text-decoration: 1px #000;
                        }
                    }
                }
            }

            &:hover {
                box-shadow: 1px 20px 20px 3px rgba(0, 0, 0, 0.05);
            }
        }
    }
}