
* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6, div, p, span, li {
    font-family: 'Lato', sans-serif;
}

.App {
    display: flex;

    #map, .restaurants {
        height: 100vh;
    }

    #map {
        width: 60%;
    }

    .restaurants {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1.5rem;
        width: 40%;
        max-height: 100vh;
        overflow-y: scroll;
        padding: 1rem;
        background: #fff;

        .restaurant {
            background: #fff;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: -3px 5px 20px 0 rgba(0,0,0,.1);
            transition: all .3s cubic-bezier(0,0,.2,1);

            img {
                width: 100%;
                height: 250px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }

            .details {
                padding: 1rem 1.5rem;

                .name {
                    margin-bottom: 0.75rem;
                    font-size: 1.4em;
                    color: #4611a7;
                }

                .review {
                    margin-bottom: 1rem;

                    .stars {
                        list-style: none;

                        li {
                            display: inline-block;
                            color: #eee;
                        }
                    }

                    .rate-5 {
                        li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5) {
                            color: #4611a7;
                        }
                    }

                    .rate-4 {
                        li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4) {
                            color: #4611a7;
                        }
                    }

                    .rate-3 {
                        li:nth-child(1), li:nth-child(2), li:nth-child(3) {
                            color: #4611a7;
                        }
                    }

                    .rate-2 {
                        li:nth-child(1), li:nth-child(2) {
                            color: #4611a7;
                        }
                    }

                    .rate-1 {
                        li:nth-child(1) {
                            color: #4611a7;
                        }
                    }
                }
    
                .info {
                    list-style: none;
    
                    li {
                        font-size: 0.9em;
    
                        i {
                            opacity: 0.3;
                        }
                    }
                }
            }

        }
    }
}

/** Popup Window **/
.infowindow {
    width: 225px;
    padding: 0;

    img {
        object-fit: cover;
        max-height: 225px;
    }

    .details {
        h2 {
            margin-bottom: 0.25em;
            font-size: 2em;
            color: #4611a7;
        }
    
        .location {
            font-size: 1.2em;
            margin-bottom: 1em;
    
            i {
                opacity: 0.3;
            }
        }
    }
}